@media screen and (max-width: 600px) {
    /* Hide the default menu */
    #desktop-nav {
        display: none;
    }

    /* Show the toggle button */
    .hamburger {
        display: block;
    }
}

@media screen and (min-width: 601px) {
    /* Hide the default menu */
    #desktop-nav {
        display: block;
    }

    /* Show the toggle button */
    .hamburger {
        display: none;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Tilt Warp', cursive;
}

header {
    color: black;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: 100vw;
    background-color: white;
}

header h1 {
    font-size: 2.5vh;
    padding: 1vh;
    font-weight: inherit;
}

#desktop-nav {
    font-size: 2.5vh;
}

#desktop-nav a {
    color: black;
    text-decoration: none;
    padding: 1vh;
}

#desktop-nav a:hover {
    color: #cd2ea3;;
}

#me {
    height: 46vh;
    width: 46vh;
}

#about {
    color: black;
    font-size: 2.5vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

#about h1 {
    font-size: 2.5vh;
    padding: 1vh;
    font-weight: inherit;
}

#about p {
    padding: 1vh;
    text-align: center;
}

#utahpot {
    height: 60vh;
    width: 100vh;
}

#portfolio {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 2.5vh;
    text-align: center;
    height: 100vh;
    width: 100vw;
    padding: 1vh;
    background-color: white;
}

#portfolio h1 {
    font-size: 2.5vh;
    padding: 1vh;
    font-weight: inherit;
}

#contacts {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100vw;
    font-size: 2.5vh;
    background-color: white;
    padding: 1vh;
}

#contacts-text {
    color: black;
}

#contacts-header {
    font-size: 2.5vh;
    font-weight: inherit;
}

p a {
    text-decoration: none;
    color: black;
}

p a:hover {
    color: #cd2ea3;
}

footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
    color: black;
    font-size: 2.5vh;
    background-color: white;
}

.open-window {
    font-size: 2.5vh;
    color: black;
    background-color: transparent;
    border: none;
    padding: .5vh;
}

.window {
    display: none;
    position: absolute;
    border: 2px solid black;
    border-radius: 10px;
    height: auto;
    width: 50vw;
    background-color: white;
    margin: 0 0 10vh 0;
}

.window a {
    text-decoration: none;
    color: black;
}

.window a:hover {
    color: #cd2ea3;
}

.open-window:hover {
    color: #cd2ea3;;
}

#github img {
    height: 35px;
    width: 35px;
}

.hamburger #hamburger-button {
    height: 35px;
    width: 35px;
    background-image: url('https://cdn.icon-icons.com/icons2/1660/PNG/512/3844473-hamburger-menu-more-navigation_110336.png');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}



#mobile-nav {
    display: none;
    position: absolute;
    font-size: 2.5vh;
}

#mobile-nav a {
    color: black;
    text-decoration: none;
    padding: 1vh;
}

#mobile-nav a:hover {
    color: #cd2ea3;
}