@media screen and (max-width: 600px) {
    #desktop-nav {
        display: none;
    }

   .hamburger {
       display: flex;
   }
}

@media screen and (min-width: 601px) {
    #desktop-nav {
        display: block;
    }

    .hamburger {
        display: none;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Tilt Warp', cursive;
    overflow-x: hidden;
}

header {
    color: black;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    height: 25vh;
    width: 100vw;
    background-color: white;
}

header h1 {
    font-size: 2.5vh;
    font-weight: inherit;
    padding: 10px 0 0 10px;
}

#desktop-nav {
    font-size: 2.5vh;
    padding: 10px 0 0 0;
}

#desktop-nav a {
    color: black;
    text-decoration: none;
}

#desktop-nav a:hover {
    color: #cd2ea3;;
}

#me {
    height: 50vh;
    width: 50vh;
}

#about {
    color: black;
    font-size: 2.5vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    height: auto;
    width: 100vw;
    background-color: white;
    padding: 50px 0 50px 0;
}

#about h1 {
    font-size: 2.5vh;
    font-weight: inherit;
}

#text {
    height: auto;
    width: 75vw;
    text-align: center;
}

#utahpot {
    height: 25vh;
    width: 50vh;
}

#portfolio {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 2.5vh;
    text-align: center;
    height: auto;
    width: 100vw;
    background-color: white;
    padding: 25px 0 25px 0;
}

#portfolio h1 {
    font-size: 2.5vh;
    font-weight: inherit;
}

#contacts {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100vw;
    font-size: 2.5vh;
    background-color: white;
    padding: 25px 0 25px 0;
}

#contacts-text {
    color: black;
}

#contacts-header {
    font-size: 2.5vh;
    font-weight: inherit;
}

p a {
    text-decoration: none;
    color: black;
}

p a:hover {
    color: #cd2ea3;
}

footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
    color: black;
    font-size: 2.5vh;
    background-color: white;
    padding: 25px 0 25px 0;
}

.open-window {
    font-size: 2.5vh;
    color: black;
    background-color: transparent;
    border: none;
}

.window {
    display: none;
    position: absolute;
    border: 2px solid black;
    border-radius: 10px;
    height: auto;
    width: 75vw;
    background-color: white;
    margin: 0 0 20px 0;
}

.window a {
    text-decoration: none;
    color: black;
}

.window a:hover {
    color: #cd2ea3;
}

.open-window:hover {
    color: #cd2ea3;;
}

#github img {
    height: 35px;
    width: 35px;
}

.hamburger {
    background-color: white;
    height: auto;
    width: auto;
    font-size: 2.5vh;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 0 0;
}

#hamburger-button {
    height: 35px;
    width: 35px;
    background-image: url('https://cdn.icon-icons.com/icons2/1660/PNG/512/3844473-hamburger-menu-more-navigation_110336.png');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    transition: all 0.3s linear;
}

.hamburger-nav {
    list-style-type: none;
    position: absolute;
    display: none;
    margin: 100px 35px 0 0;
    padding: 0 10px 0 0;
}

.hamburger a {
    color: black;
    text-decoration: none;
}

.hamburger a:hover {
    color: #cd2ea3;
}